src/examples/flow.json
[{"id":"f181a894b8677ed4","type":"xslt3transformer","z":"d5868481.df2b68","name":"","transfomer":"xslt3transformer","transfomerOpts":"xslt3transformer","errorHandling":"Standard","devMode":false,"showBanner":true,"disableInput":false,"outputs":1,"x":370,"y":380,"wires":[["a2e58a1f6bbcc5b2"]]},{"id":"07870e075b3b97b8","type":"inject","z":"d5868481.df2b68","name":"topic formatxml","props":[{"p":"payload","v":"<a><b>a test</b></a>","vt":"str"},{"p":"topic","v":"formatxml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"formatxml","payload":"<a><b>a test</b></a>","payloadType":"str","x":180,"y":380,"wires":[["f181a894b8677ed4"]]},{"id":"a2e58a1f6bbcc5b2","type":"debug","z":"d5868481.df2b68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":380,"wires":[]}]